<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container">
    <a class="navbar-brand" routerLink="BecomeARenter"><img src="../../assets/images/Frame 993.svg" alt=""></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto gap-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="BecomeARenter">Become a renter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="RentalDeals">Rental deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="HowItWork">How it work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="WhyChooseUs">Why choose us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-between gap-3">
        <a routerLink="#">Sign in</a>
        <button class="btn btn-maim" type="submit">Sign UP</button>
      </div>
    </div>
  </div>
</nav>
