<div class="container pt-5 text-center">
  <p class="mt-5 d-inline-block p-2 px-5 rounded-2">HOW IT WORK</p>
  <h2>Rent with following 3 working steps</h2>

  <div class="row mt-5">
    <div class="col-md-4">
      <img
        src="../../assets/images/🦆 icon _car_.svg"
        class="w-50"
        alt="Icon1"
      />
      <h5 class="mt-5">Choose location</h5>
      <h6>Choose your and find your best car</h6>
    </div>
    <div class="col-md-4">
      <img
        src="../../assets/images/🦆 icon _car_ (1).svg"
        class="w-50"
        alt="Icon1"
      />
      <h5 class="mt-5">Pick-up date</h5>
      <h6>Select your pick up date and time to book your car</h6>
    </div>
    <div class="col-md-4">
      <img
        src="../../assets/images/🦆 icon _car_ (2).svg"
        class="w-50"
        alt="Icon1"
      />
      <h5 class="mt-5">Book your car</h5>
      <h6>Book your car and we will deliver it directly to you</h6>
    </div>
  </div>
 
</div>
 <div>
    <owl-carousel-o [options]="customOptions">
      <ng-container>
        <ng-template carouselSlide>
          <div class="car-card">
            <img src="../../assets/images/fram1.svg " class="w-100"  alt="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="car-card">
            <img src="../../assets/images/fram2.png" class="w-100"  alt="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="car-card">
            <img src="../../assets/images/fram3.svg" class="w-100"  alt="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="car-card">
            <img src="../../assets/images/fram4.svg" class="w-100"  alt="" />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="car-card">
            <img src="../../assets/images/fram5.svg"  class="w-100" alt="" />
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
