<div class="bg-main vh-100">
  <div class="row align-items-center h-100 w-100 m-0">
    <div class="col-md-6 ">
    <div class="  d-flex justify-content-center align-items-center w-50 flex-column m-auto">
        <h1>Find, book and rent a car <span>Easily</span></h1>
      <p>
        Get a car wherever and whenever you need it with your IOS and Android
        device.
      </p>
      <div class="d-flex justify-content-center align-items-center gap-3">
        <a href=""><img src="../../assets/images/btn1.svg" alt="" /></a>
        <a href=""><img src="../../assets/images/btn2.svg" alt="" /></a>
      </div>
    </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="../../assets/images/car 2 1 (1).svg" class="w-100" alt="" />
    </div>
  </div>
  

</div>
<app-TESTIMONIALS></app-TESTIMONIALS>