.bg-main {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-main::before {
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/images/Vector.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
  z-index: -1;
}
p{
    background: var(--bg-main);
    color: var(--mainfont);
}
